.container{
    background-color: #666;
    color: #fff;
    height: 200px;
    width: 800px;
    margin: auto;
    /* We will discuss later on margin */
}

.header{
    background-color: #333;
    color: #7816e7;
    min-height: 200px;
    max-height: 400px;
    text-align: center;
}