.box1{
    height: 250px;
    width: 250px;
    background-color: aquamarine;
    color: black;
    padding-top: 70px
}
.box2{
    height: 250px;
    width: 250px;
    background-color: chartreuse;
    margin: 20px 10px 20px 50px;
}
.box3{

    background-color:brown;
    width:300px;
    padding: 25px;
    box-sizing: border-box;
    /* You can check with or without the property of box-sizing. */
}